<!-- grapevinified -->
<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_POST_ACTION}" id="post">

		<!-- IF ERROR_MESSAGE -->
				<table cellspacing="0" id="error_box">
						<thead>
								<tr>
										<th>Error:</th>
								</tr>
						</thead>
						<tbody>
								<tr class="generic">
										<td>{ERROR_MESSAGE}</td>
								</tr>
						</tbody>
				</table>
		<!-- ENDIF -->

		<table>
				<thead>
						<tr>
								<th colspan="100%">
										<!-- IF S_CONTACT_ADMIN-->
										{L_CONTACT_ADMIN}
										<!-- ELSEIF S_SEND_USER -->
										{L_SEND_EMAIL_USER}
										<!-- ELSE -->
										{L_EMAIL_TOPIC}
										<!-- ENDIF -->
								</th>
						</tr>
				</thead>
				<tbody>
						<tr>
								<td colspan="100%">{CONTACT_INFO}</td>
						</tr>

						<!-- IF S_SEND_USER -->
								<tr>
										<td class="c_desc">{L_RECIPIENT}</td>
										<td>{USERNAME_FULL}</td>
								</tr>
								<tr>
										<td class="c_desc">{L_SUBJECT}</td>
										<td><input class="inputbox autowidth" type="text" name="subject" id="subject" size="50" tabindex="1" value="{SUBJECT}" /></td>
								</tr>
						<!-- ELSEIF S_CONTACT_ADMIN-->
								<tr>
										<td class="c_desc">{L_RECIPIENT}</td>
										<td>{L_ADMINISTRATOR}</td>
								</tr>
								<!-- IF not S_IS_REGISTERED -->
										<tr>
												<td class="c_desc">{L_SENDER_EMAIL_ADDRESS}</td>
												<td><input class="inputbox autowidth" type="text" name="email" id="email" size="50" maxlength="100" tabindex="1" value="{EMAIL}" /></td>
										</tr>
										<tr>
												<td class="c_desc">{L_SENDER_NAME}</td>
												<td><input class="inputbox autowidth" type="text" name="name" id="name" size="50" tabindex="2" value="{NAME}" /></td>
										</tr>
								<!-- ENDIF -->
								<tr>
										<td class="c_desc">{L_SUBJECT}</td>
										<td><input class="inputbox autowidth" type="text" name="subject" id="subject" size="50" tabindex="3" value="{SUBJECT}" /></td>
								</tr>
						<!-- ELSE -->
								<tr>
										<td class="c_desc">{L_EMAIL_ADDRESS}</td>
										<td><input class="inputbox autowidth" type="email" name="email" id="email" size="50" maxlength="100" tabindex="2" value="{EMAIL}" /></td>
								</tr>
								<tr>
										<td class="c_desc">{L_REAL_NAME}</td>
										<td><input class="inputbox autowidth" type="text" name="name" id="name" size="50" tabindex="3" value="{NAME}" /></td>
								</tr>
								<tr>
										<td class="c_desc">{L_DEST_LANG} <small>{L_DEST_LANG_EXPLAIN}</small></td>
										<td><select name="lang">{S_LANG_OPTIONS}</select></td>
								</tr>
						<!-- ENDIF -->
						<tr>
								<td class="c_desc">{L_MESSAGE_BODY} <small>{L_EMAIL_BODY_EXPLAIN}</small></td>
								<td><textarea name="message" id="message" rows="15" cols="76" tabindex="4">{MESSAGE}</textarea></td>
						</tr>
						<!-- IF S_REGISTERED_USER -->
								<tr>
										<td class="c_desc">{L_CC_SENDER}</td>
										<td><input type="checkbox" name="cc_sender" id="cc_sender" value="1" checked="checked" tabindex="5" /></td>
								</tr>
						<!-- ENDIF -->

						<tr>
								<td colspan="100%"><input type="submit" tabindex="6" name="submit" class="button1" value="{L_SEND_EMAIL}" /></td>
						</tr>
				</tbody>
		</table>


		{S_FORM_TOKEN}
</form>

<!-- INCLUDE overall_footer.html -->
