<!-- grapevinified -->

<!-- EVENT overall_footer_content_after -->
</div>
<!-- end main page -->

<!-- footer - mark topics, and clock -->
<div id="foot_wrap">
	<table cellspacing="0" id="foot">
		<tr>
			<td id="foot_links">
				<!-- IF not S_IS_BOT -->
					<!-- IF U_WATCH_FORUM_LINK -->
					    <a href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a>
						&middot;
					<!-- ENDIF -->
					<!-- IF U_MARK_FORUMS -->
					    <a href='{U_MARK_FORUMS}'>{L_MARK_FORUMS_READ}</a>
						&middot;
					<!-- ENDIF -->

					<!-- IF S_DISPLAY_MEMBERLIST -->
						<a href='{U_MEMBERLIST}'>{L_MEMBERLIST}</a>
						&middot;
					<!-- ENDIF -->

					<a href="{U_CONTACT_US}">{L_CONTACT_US}</a>
					&middot;
					<a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a>
				<!-- ENDIF -->
			</li>
			</td>
			<td id="foot_datetime">
				<i class="fa fa-clock-o fa-lg" alt='Time:'></i>&nbsp; {CURRENT_TIME}</a>
			</td>
		</tr>
	</table>
</div>
<!-- end footer -->

</div>
<!-- end wrap -->

</div>
<!-- end content -->

<script type="text/javascript" src="{T_JQUERY_LINK}"></script>
<!-- IF S_ALLOW_CDN --><script type="text/javascript">window.jQuery || document.write('\x3Cscript src="{T_ASSETS_PATH}/javascript/jquery.min.js?assets_version={T_ASSETS_VERSION}">\x3C/script>');</script><!-- ENDIF -->
<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->
<!-- IF S_ALLOW_CDN -->
<script type="text/javascript">
(function($){
	var $fa_cdn = $('head').find('link[rel="stylesheet"]').first(),
		$span = $('<span class="fa" style="display:none"></span>').appendTo('body');
	if ($span.css('fontFamily') !== 'FontAwesome' ) {
		$fa_cdn.after('<link href="{T_ASSETS_PATH}/css/font-awesome.min.css" rel="stylesheet">');
		$fa_cdn.remove();
	}
	$span.remove();
})(jQuery);
</script>
<!-- ENDIF -->

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
{$SCRIPTS}

<!-- EVENT overall_footer_body_after -->
</body>

</html>
