<!-- grapevinified -->

<!-- INCLUDE overall_header.html -->

<!-- IF not S_PRIVMSGS -->
    <div id="boardmeta">
        <div id="ucp_settings" class="meta_menu">
            <h3>User Controls</h3>
            <i class="fa fa-cogs fa-3x"></i>
            <ul>
    						<!-- BEGIN t_block1 -->
    								<li><a href="{t_block1.U_TITLE}">{t_block1.L_TITLE}</a></li>
    						<!-- END t_block1 -->
            </ul>
        </div>
        <div id="ucp_profile" class="meta_menu">
            <h3><!-- IF not L_TITLE or L_TITLE == "TITLE" -->{PAGE_TITLE}<!-- ELSE -->{L_TITLE}<!-- ENDIF --></h3>
            <i class="fa fa-user fa-3x"></i>
            <ul>
    						<!-- BEGIN t_block2 -->
    		            <li><a href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
    						<!-- END t_block2 -->
            </ul>
        </div>
    </div>
<!-- ELSE -->
    <!-- special case for PMs because we don't want the other header stuffy there -->

    <div id="boardmeta">
        <div id="ucp_settings" class="meta_menu">
            <h3>Message Center</h3>
            <i class="fa fa-cogs fa-3x"></i>
            <ul>
              <!-- BEGIN t_block2 -->
                  <li><a href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
              <!-- END t_block2 -->
            </ul>
        </div>
        <div id="ucp_profile" class="meta_menu">
            <h3>Folders</h3>
            <i class="fa fa-user fa-3x"></i>
            <ul>
                <!-- BEGIN folder -->
                    <!-- IF folder.S_CUR_FOLDER -->
                        <li id="active-subsection" class="active-subsection"><a href="{folder.U_FOLDER}"><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></a></li>
                    <!-- ELSE -->
                        <li><a href="{folder.U_FOLDER}"><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></a></li>
                    <!-- ENDIF -->
                <!-- END folder -->
            </ul>
        </div>
    </div>

<!-- ENDIF -->
