<!-- grapevinified -->

<tr>
		<td style="width: 100px;">{L_UPLOAD_AVATAR_FILE}</td>
		<td>
				<input type="hidden" name="MAX_FILE_SIZE" value="{AVATAR_UPLOAD_SIZE}" />
				<input type="file" name="avatar_upload_file" id="avatar_upload_file" />
		</td>
</tr>

<!-- IF S_UPLOAD_AVATAR_URL -->
<tr>
		<td style="width: 100px;">{L_UPLOAD_AVATAR_URL}</td>
		<td><input type="url" name="avatar_upload_url" id="avatar_upload_url" value="" style="width: 100%; padding-right: 0px;" /></td>
</tr>
<!-- ENDIF -->
