<!-- grapevinified -->
<!-- INCLUDE overall_header.html -->

<form action="{U_RESET_PASSWORD_ACTION}" method="post" id="reset_password">

    {% if (S_IS_PASSWORD_RESET and PASSWORD_RESET_ERRORS) or (not S_IS_PASSWORD_RESET and USERNAME_REQUIRED) %}
        <table cellspacing="0" id="error_box">
            <thead>
                <tr>
                    <th>Error:</th>
                </tr>
            </thead>
            <tbody>
                <tr class="generic">
                    {% if PASSWORD_RESET_ERRORS %}
                        <td>{{ PASSWORD_RESET_ERRORS | join('<br>') }}</td>
                    {% else if USERNAME_REQUIRED %}
                        <td>{{ lang('EMAIL_NOT_UNIQUE') }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    {% endif %}

	<table>
		<thead>
			<tr>
				<th colspan="100%">{{ lang('RESET_PASSWORD') }}</th>
			</tr>
		</thead>
		<tbody>
            {% if S_IS_PASSWORD_RESET %}
                <tr>
                    <td class="c_desc">{{ lang('NEW_PASSWORD') ~ lang('COLON') }} <small>{{ lang('CHANGE_PASSWORD_EXPLAIN') }}</small></td>
                    <td><input type="password" name="new_password" id="new_password" size="25" maxlength="255" class="inputbox autowidth" title="{{ lang('CHANGE_PASSWORD') }}" autocomplete="off" /></td>
                </tr>
                <tr>
                    <td class="c_desc">{{ lang('CONFIRM_PASSWORD') ~ lang('COLON') }}</td>
                    <td><input type="password" name="new_password_confirm" id="new_password_confirm" size="25" maxlength="255" class="inputbox autowidth" title="{{ lang('CONFIRM_PASSWORD') }}" autocomplete="off" /></td>
                </tr>
            {% else %}
                <tr>
                    <td class="c_desc">{{ lang('EMAIL_ADDRESS') ~ lang('COLON') }} <small>{{ lang('EMAIL_REMIND') }}</small></td>
                    <td><input type="email" name="email" id="email" size="25" maxlength="100" value="{{ EMAIL }}" autofocus class="inputbox autowidth" /></td>
                </tr>
                {% if USERNAME_REQUIRED %}
                <tr>
                    <td class="c_desc">{{ lang('USERNAME') ~ lang('COLON') }}</td>
                    <td><input type="text" name="username" id="username" size="25" class="inputbox autowidth" /></td>
                </tr>
                {% endif %}
            {% endif %}

			<tr>
				<td colspan="100%">
					<input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />
					&nbsp;
					<input type="reset" value="{L_RESET}" name="reset" class="button2" />
				</td>
			</tr>
		</tbody>
	</table>

	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
</form>

<!-- INCLUDE overall_footer.html -->
