<!-- grapevinified -->
<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

	<!-- IF ERROR -->
			<table cellspacing="0" id="error_box">
					<thead>
							<tr>
									<th>Error:</th>
							</tr>
					</thead>
					<tbody>
							<tr class="generic">
									<td>{ERROR}</td>
							</tr>
					</tbody>
			</table>
			<br/>
	<!-- ENDIF -->

	<table cellspacing="0" id="edit_profile">
			<thead>
					<tr>
							<th colspan="2">Editing Profile</th>
					</tr>
			</thead>

			<!-- IF S_BIRTHDAYS_ENABLED -->
					<tr>
							<td class="c_desc">{L_BIRTHDAY}</td>
							<td>
									<label for="bday_day">{L_DAY}{L_COLON} <select name="bday_day" id="bday_day">{S_BIRTHDAY_DAY_OPTIONS}</select></label>
									<label for="bday_month">{L_MONTH}{L_COLON} <select name="bday_month" id="bday_month">{S_BIRTHDAY_MONTH_OPTIONS}</select></label>
									<label for="bday_year">{L_YEAR}{L_COLON} <select name="bday_year" id="bday_year">{S_BIRTHDAY_YEAR_OPTIONS}</select></label>
									&nbsp;
									<small>{L_BIRTHDAY_EXPLAIN}</small>
							</td>
					</tr>
			<!-- ENDIF -->

			<!-- IF S_JABBER_ENABLED -->
					<tr>
							<td class="c_desc">{L_UCP_JABBER}:</td>
							<td>
									<input type="email" name="jabber" id="jabber" size='40' maxlength="255" value="{JABBER}" class="inputbox" />
							</td>
					</tr>
			<!-- ENDIF -->

			<!-- BEGIN profile_fields -->
					<tr>
							<td class="c_desc">{profile_fields.LANG_NAME}:</td>
							<td>
									{profile_fields.FIELD}
									<!-- IF profile_fields.LANG_EXPLAIN --><small>{profile_fields.LANG_EXPLAIN}</small><!-- ENDIF -->
									<!-- IF profile_fields.ERROR --><span class="error">{profile_fields.ERROR}</span><!-- ENDIF -->
							</td>
					</tr>
			<!-- END profile_fields -->


			<tr>
					<td align="center" colspan="2">
							<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
							<input type="submit" name="submit" value="Save Profile Changes" class="button1" />
					</td>
			</tr>
	</table>


	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
</form>

<!-- INCLUDE ucp_footer.html -->
