<!-- grapevinified -->
<tr>
		<td style="width: 100px;">{L_GRAVATAR_AVATAR_EMAIL}</td>
		<td>
				<input type="email" name="avatar_gravatar_email" id="avatar_gravatar_email" value="{AVATAR_GRAVATAR_EMAIL}" class="inputbox" data-reset-on-edit="#avatar_gravatar_width, #avatar_gravatar_height" />
		</td>
</tr>
<tr>
		<td style="width: 100px;">{L_GRAVATAR_AVATAR_SIZE}</td>
		<td>
				<input type="number" name="avatar_gravatar_width" id="avatar_gravatar_width" min="{AVATAR_MIN_WIDTH}" max="{AVATAR_MAX_WIDTH}" value="{AVATAR_GRAVATAR_WIDTH}" class="inputbox autowidth" />
				<input type="hidden" name="avatar_gravatar_height" id="avatar_gravatar_height" min="{AVATAR_MIN_HEIGHT}" max="{AVATAR_MAX_HEIGHT}" value="{AVATAR_GRAVATAR_HEIGHT}" class="inputbox autowidth" />
		</td>
</tr>
