<!-- grapevinified -->
<!-- INCLUDE ucp_header.html -->

<div style="float: left; margin-bottom: 10px;">{L_GROUPS_EXPLAIN}</div>

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

		<!-- IF ERROR -->
				<table cellspacing="0" id="error_box">
						<thead>
								<tr>
										<th>Error:</th>
								</tr>
						</thead>
						<tbody>
								<tr class="generic">
										<td>{ERROR}</td>
								</tr>
						</tbody>
				</table>
		<!-- ENDIF -->


		<!-- want to edit this group -->
		<!-- IF S_EDIT -->

				<table cellspacing="0" id="edit_profile">
						<thead>
								<tr>
										<th colspan="2">{L_GROUP_DETAILS}</th>
								</tr>
						</thead>
						<tbody>

								<tr>
										<td class="c_desc">{L_GROUP_NAME}{L_COLON}</td>
										<td>
											<!-- IF S_SPECIAL_GROUP -->
													<strong<!-- IF GROUP_COLOUR --> style="color: #{GROUP_COLOUR};"<!-- ENDIF -->>{GROUP_NAME}</strong> <input name="group_name" type="hidden" value="{GROUP_INTERNAL_NAME}" />
											<!-- ELSE -->
													<input name="group_name" type="text" id="group_name" value="{GROUP_INTERNAL_NAME}" />
											<!-- ENDIF -->
										</td>
								</tr>

								<tr>
										<td class="c_desc">{L_GROUP_DESC}{L_COLON}</td>
										<td>
												<textarea id="group_desc" name="group_desc" rows="5" cols="45">{GROUP_DESC}</textarea>
										</td>
								</tr>

								<tr>
										<td class="c_desc">{L_GROUP_DESC}{L_COLON}</td>
										<td>
												<label for="desc_parse_bbcode"><input type="checkbox" class="radio" name="desc_parse_bbcode" id="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_BBCODE}</label>
												&nbsp;
												<label for="desc_parse_smilies"><input type="checkbox" class="radio" name="desc_parse_smilies" id="desc_parse_smilies"<!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_SMILIES}</label>
												&nbsp;
												<label for="desc_parse_urls"><input type="checkbox" class="radio" name="desc_parse_urls" id="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_URLS}</label>
										</td>
								</tr>

								<!-- IF not S_SPECIAL_GROUP -->
										<tr>
												<td class="c_desc">{L_GROUP_TYPE}{L_COLON} <small>{L_GROUP_TYPE_EXPLAIN}</small></td>
												<td>
														<label for="group_type1"><input type="radio" class="radio" name="group_type" id="group_type1" value="{GROUP_TYPE_FREE}"{GROUP_FREE} /> {L_GROUP_OPEN}</label>
														<label for="group_type2"><input type="radio" class="radio" name="group_type" id="group_type2" value="{GROUP_TYPE_OPEN}"{GROUP_OPEN} /> {L_GROUP_REQUEST}</label>
														<label for="group_type3"><input type="radio" class="radio" name="group_type" id="group_type3" value="{GROUP_TYPE_CLOSED}"{GROUP_CLOSED} /> {L_GROUP_CLOSED}</label>
														<label for="group_type4"><input type="radio" class="radio" name="group_type" id="group_type4" value="{GROUP_TYPE_HIDDEN}"{GROUP_HIDDEN} /> {L_GROUP_HIDDEN}</label>
												</td>
										</tr>
								<!-- ELSE -->
										<input name="group_type" type="hidden" value="{GROUP_TYPE_SPECIAL}" />
								<!-- ENDIF -->

						</tbody>
				</table>



				<table cellspacing="0" id="edit_profile">
						<thead>
								<tr>
										<th colspan="2">{L_GROUP_SETTINGS_SAVE}</th>
								</tr>
						</thead>
						<tbody>

								<tr>
										<td class="c_desc">{L_GROUP_COLOR}{L_COLON} <small>{L_GROUP_COLOR_EXPLAIN}</small></td>
										<td>
												<input name="group_colour" type="text" id="group_colour" value="{GROUP_COLOUR}" size="10" maxlength="6" class="inputbox narrow" />
												<!--<span style="background-color: #{GROUP_COLOUR};">&nbsp;&nbsp;&nbsp;</span>
												[ <a href="#" id="color_palette_toggle">{L_COLOUR_SWATCH}</a> ]
												<div id="color_palette_placeholder" class="color_palette_placeholder hidden" data-orientation="h" data-height="12" data-width="15" data-target="#group_colour"></div>-->
										</td>
								</tr>

								<tr>
										<td class="c_desc">{L_GROUP_RANK}{L_COLON}</td>
										<td>
												<select name="group_rank" id="group_rank">{S_RANK_OPTIONS}</select>
										</td>
								</tr>

						</tbody>
				</table>

				<!-- INCLUDE ucp_avatar_options.html -->

				<br>
				{S_HIDDEN_FIELDS}
				<input type="reset" value="{L_RESET}" name="reset" />
				&nbsp;
				<input type="submit" name="update" value="{L_SUBMIT}" />
				{S_FORM_TOKEN}


		<!-- ELSEIF S_LIST -->
				<!-- list of group leaders (and members?) -->


				<table cellspacing="0">
						<thead>
								<tr>
										<th colspan="5" style="text-align: center;">Members of Group</th>
								</tr>
						</thead>
						<tbody>

								<tr>
										<th class="c_cat-title">User</th>
										<th class="c_cat-starter" style="width: 200px;">{L_GROUP_DEFAULT}</th>
										<th class="c_cat-replies">{L_POSTS}</th>
										<th class="c_cat-views" style="width: 250px;">{L_JOINED}</th>
										<th class="c_cat-mark">&nbsp;</th>
								</tr>

								<!-- IF .leader -->

										<tr>
												<th colspan="5">{L_GROUP_LEAD}</th>
										</tr>

										<!-- BEGIN leader -->

												<tr class="<!-- IF leader.S_ROW_COUNT is even -->row1<!-- ELSE -->row2<!-- ENDIF -->">
														<td class="c_cat-title">
																{leader.USERNAME_FULL}
														</td>

														<td class="c_cat-starter">
																<!-- IF leader.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF -->
														</td>

														<td class="c_cat-replies">
																{leader.USER_POSTS}
														</td>

														<td class="c_cat-views">
																{leader.JOINED}
														</td>

														<td class="c_cat-mark">
																&nbsp;
														</td>
												</tr>

												<!-- END leader -->


										<!-- IF S_CHANGE_DEFAULT -->
												<tr>
														<td colspan="5">
																<input class="button2" type="submit" name="change_default" value="{L_CHANGE_DEFAULT_GROUP}" />
														</td>
												</tr>

												{S_FORM_TOKEN}
										<!-- ENDIF -->

								<!-- ENDIF -->



								<!-- IF .member -->

										<!-- BEGIN member -->

												<!-- IF member.S_PENDING -->
														<tr>
																<th colspan="5">{L_GROUP_PENDING}</th>
														</tr>
												<!-- ELSEIF member.S_APPROVED -->
														<tr>
																<th colspan="5">{L_GROUP_APPROVED}</th>
														</tr>
												<!-- ELSE -->

														<tr class="<!-- IF leader.S_ROW_COUNT is even -->row1<!-- ELSE -->row2<!-- ENDIF -->">
																<td class="c_cat-title">
																		{member.USERNAME_FULL}
																</td>

																<td class="c_cat-starter">
																		<!-- IF member.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF -->
																</td>

																<td class="c_cat-replies">
																		{member.USER_POSTS}
																</td>

																<td class="c_cat-views">
																		{member.JOINED}
																</td>

																<td class="c_cat-mark">
																		<input type="checkbox" name="mark[]" value="{member.USER_ID}" />
																</td>
														</tr>
												<!-- ENDIF -->

										<!-- END member -->

								<!-- ELSE -->

										<tr>
											<th colspan="5">{L_MEMBERS}</th>
										</tr>

										<tr>
												<td colspan="5">{L_GROUPS_NO_MEMBERS}</td>
										</tr>

								<!-- ENDIF -->

								<tr>
										<td colspan="5" style="text-align: center;">
												<select name="action">
													<option value="">{L_SELECT_OPTION}</option>{S_ACTION_OPTIONS}
												</select>
												<input class="button2" type="submit" name="update" value="{L_SUBMIT}" />
										</td>
								</tr>

						</tbody>
				</table>


				<!-- IF .pagination -->
						<!-- INCLUDE pagination.html -->
				<!-- ENDIF -->



				<!-- the table to add new users -->
				<br>
				<table cellspacing="0" id="edit_profile">
						<thead>
								<tr>
										<th colspan="2">{L_ADD_USERS}</th>
								</tr>
						</thead>
						<tbody>
								<tr>
										<td colspan="2">
												{L_ADD_USERS_UCP_EXPLAIN}
										</td>
								</tr>

								<tr>
										<td class="c_desc">{L_USER_GROUP_DEFAULT}{L_COLON} <small>{L_USER_GROUP_DEFAULT_EXPLAIN}</small></td>
										<td>
												<label for="default1"><input type="radio" name="default" id="default1" value="1" /> {L_YES}</label>
												<label for="default0"><input type="radio" name="default" id="default0" value="0" checked="checked" /> {L_NO}</label>
										</td>
								</tr>

								<tr>
										<td class="c_desc">{L_USERNAME}{L_COLON} <small>{L_USERNAMES_EXPLAIN}</small></td>
										<td>
												<textarea name="usernames" id="usernames" rows="3" cols="30" class="inputbox"></textarea>
												<br>
												<strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong>
										</td>
								</tr>

								<tr>
										<td colspan="2" style="text-align: center;">
												<input type="submit" name="addusers" value="{L_SUBMIT}" />
										</td>
								</tr>
						</tbody>
				</table>

				{S_FORM_TOKEN}
				<!-- end table to add new users -->



		<!-- ELSE -->
				<!-- list of groups we are leaders of -->

				<table cellspacing="0">
						<thead>
								<tr>
										<th colspan="3" style="text-align: center;">Groups</th>
								</tr>
						</thead>
						<tbody>

								<tr>
										<th class="c_cat-title">{L_GROUP_LEADER}</th>
										<th class="c_cat-replies" colspan="2">{L_OPTIONS}</th>
								</tr>

								<!-- BEGIN leader -->

										<tr class="<!-- IF attachrow.S_ROW_COUNT is odd -->row1<!-- ELSE -->row2<!-- ENDIF -->">
											<td class="c_cat-title">
													<a href="{leader.U_EDIT}" class="topictitle"<!-- IF leader.GROUP_COLOUR --> style="color: #{leader.GROUP_COLOUR};"<!-- ENDIF -->>{leader.GROUP_NAME}</a>
													<!-- IF leader.GROUP_DESC --><br />{leader.GROUP_DESC}<!-- ENDIF -->
											</td>

											<td class="c_cat-replies">
													<a href="{leader.U_EDIT}" >{L_EDIT}</a>
											</td>

											<td class="c_cat-replies">
													<a href="{leader.U_LIST}">{L_GROUP_LIST}</a>
											</td>
										</tr>

								<!-- END leader -->

						</tbody>
				</table>

		<!-- ENDIF -->

</form>
<!-- INCLUDE ucp_footer.html -->
